<section class="features">
  <div class="features-block">
    <img src="../img/title_p3.png" alt="features-logo" width="320" height="auto" />
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-content">
            <img src="../img/flags/pick1.png" alt="feature image" class="slide-image-top">
            <img src="../img/flags/Features_text_block_1.png" alt="feature description" class="slide-image-bottom">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-content">
            <img src="../img/flags/pick2.png" alt="feature image" class="slide-image-top">
            <img src="../img/flags/Features_text_block_3.png" alt="feature description" class="slide-image-bottom">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-content">
            <img src="../img/flags/pick3.png" alt="feature image" class="slide-image-top">
            <img src="../img/flags/Features_text_block_3.png" alt="feature description" class="slide-image-bottom">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-content">
            <img src="../img/flags/pick4.png" alt="feature image" class="slide-image-top">
            <img src="../img/flags/Features_text_block_4.png" alt="feature description" class="slide-image-bottom">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-content">
            <img src="../img/flags/pick5.png" alt="feature image" class="slide-image-top">
            <img src="../img/flags/Features_text_block_5.png" alt="feature description" class="slide-image-bottom">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script src="../js/features.js"></script>
