<!--<footer class="footer">
  <div class="footer-content">
    <img
      class="header-logo"
      src="./img/logo-s.png"
      alt="logo"
      width="68"
      height="48"
    />

    <span
      >©2024 | <a href="#">adventurehubquest.com</a> |
      <a href="#">All rights reserved</a></span
    >
    <div class="footer-links">
      <a href="./privacy.html">Privacy Policy</a> |
      <a href="./terms.html">Terms and Conditions</a>
    </div>
  </div>
</footer>
----->
<footer class="footer">
  <div class="footer-links">
    <a href="../privacy.html" class="footer-link">Privacy Policy</a>
    <span>|</span>
    <a href="../terms.html" class="footer-link">Terms and Conditions</a>
  </div>

  <div class="footer-copyright">
    <p>
      ©2024
      <a href="https://adventurehubquest.com" class="footer-link-adress"
        >adventurehubquest.com</a
      >
    </p>
    <p>All rights reserved</p>
  </div>

  <div class="footer-logo">
    <img src="./img/logo-s.png" alt="Cove Merge logo" />
  </div>
</footer>
