<section class="header">
  <div class="header-container">
    <img class="logo-header" src="./img/img-mobile/logo_new 2.png" alt="logo" />
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a href="#description-block" class="nav-link">Game Description</a>
        </li>
        <li class="nav-item">
          <a href="#features" class="nav-link">Features</a>
        </li>
        <li class="nav-item">
          <a href="#howtoplay" class="nav-link">How to Play</a>
        </li>
        <li class="nav-item">
          <a href="#faq" class="nav-link">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="#gallery" class="nav-link">Gallery</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-btn js-open-menu">
      <svg class="icon-menu" width="40" height="40">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>

  <!-- Мобільне меню -->
  <div class="mobile-menu js-menu-container">
    <ul class="mob-nav-menu">
      <li>
        <a href="./index.html" class="mob-nav-menu-item">Home</a>
      </li>
      <li>
        <a href="#description-block" class="mob-nav-menu-item"
          >Game Description</a
        >
      </li>
      <li>
        <a href="#features" class="mob-nav-menu-item">Features</a>
      </li>
      <li>
        <a href="#howtoplay" class="mob-nav-menu-item">How to Play</a>
      </li>
      <li>
        <a href="#faq" class="mob-nav-menu-item">FAQ</a>
      </li>
      <li>
        <a href="#gallery" class="mob-nav-menu-item">Gallery</a>
      </li>
    </ul>
  </div>
</section>
