<header class="header">
  <div class="header-container">
    <img
      class="logo-header"
      src="../img/img-mobile/logo_new 2.png"
      alt="logo"
    />
    <button type="button" class="menu-btn js-open-menu">
      <svg class="open-btn" width="40" height="40">
        <use href="../img/img-mobile/burger.svg"></use>
      </svg>
    </button>
  </div>

  <!-- Мобільне меню -->
  <div class="mobile-menu js-menu-container">
    <ul class="mob-nav-menu">
      <li>
        <a href="./index.html" class="mob-nav-menu-item">Home</a>
      </li>
      <li>
        <a href="#" class="mob-nav-menu-item">Game Description</a>
      </li>
      <li>
        <a href="#" class="mob-nav-menu-item">Features</a>
      </li>
      <li>
        <a href="#" class="mob-nav-menu-item">How to Play</a>
      </li>
      <li>
        <a href="#" class="mob-nav-menu-item">FAQ</a>
      </li>
      <li>
        <a href="#" class="mob-nav-menu-item">Gallery</a>
      </li>
    </ul>
  </div>
</header>
