<header class="header">
  <img
    class="header-logo"
    src="../img/logo-s.png"
    alt="logo"
    width="68"
    height="48"
  />
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">Game Description</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">How to Play</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">FAQ</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Gallery</a>
      </li>
    </ul>
  </nav>
</header>
