<section class="hero-sec">
  <div class="container">
  <div class="hero-sec-items">
    <div class="hero-image">
    <picture>
      <source media="(max-width: 320px)" srcset="./img/img-mobile/Logo-mob.png">
      <source media="(min-width: 1200px)" srcset="./img/Logo-hero.png">
      <img src="./img/Logo-hero.png" alt="Image 4">
    </picture>
    </div>
    <div class="hero-text">
      <picture>
        <source media="(max-width: 320px)" srcset="./img/img-mobile/hero-text.png">
        <source media="(min-width: 1200px)" srcset="./img/hero-text.png">
        <img src="./img/hero-text.png" alt="herotext">
      </picture>
    </div>
    <div class="download">
      <img class="img-download"
        src="./img/download_vector.png"
        alt="download-now"
      />
      <a
        href="https://play.google.com/store/apps/details?id=com.newmerges.mergecove"
        target="_blank"
      >
        <img class="img-appstore"
          src="./img/app_store.svg"
          alt="app-store"/>
      </a>
    </div>
  </div>
</section>
<section class="description" id="description-block">
  <div class="descr-block">
    <picture class="flag-blue">
        <source media="(max-width: 1199px)" srcset="./img/img-mobile/title-p2.png">
        <source media="(min-width: 1200px)" srcset="./img/img-mobile/title-p2.png">
        <img src="./img/descr-flag.png" alt="blueflag">
      </picture>
      <picture class="descr-game">
        <source media="(max-width: 1199px)" srcset="./img/img-mobile/game-descr-mob.png">
        <source media="(min-width: 1200px)" srcset="./img/game-descr.png">
        <img src="./img/game-descr.png" alt="game-descript"/>
    </picture>
  </div>
  </div>
</section>
