<hero class="hero-sec">
  <div class="hero-sec-items">
    <img
      class="hero-image"
      src="../img/Logo-hero.png"
      alt="logo"
      width="68"
      height="48"
    />
    <img
      class="hero-text"
      src="../img/hero-text.png"
      alt="Discover,Merge,and_Build_Your_Cove!"
      width="431"
      height="96"
    />
    <div class="download">
      <img
        src="../img/download_vector.png"
        alt="download-now"
        width="346"
        height="100"
      />
      <a
        href="https://play.google.com/store/apps/details?id=com.newmerges.mergecove"
        target="_blank"
      >
        <img
          src="../img/app_store.svg"
          alt="app-store"
          width="213"
          height="63"
        />
      </a>
    </div>
  </div>
</hero>
