.header {
  width: 1080px;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  padding: 8px 48px;
  margin: 0 auto 50px auto;
  background-color: rgb(249, 246, 243);
  margin-bottom: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: black;

  @include media(tablet) {
  }

  @include media(desktop) {
  }
}

.nav-link {
  font-weight: 400;
  letter-spacing: 0.02em;
  @include font(16, 40);
}

.nav-link:hover,
.nav-link:focus {
  border: 0.5px solid;
  border-color: #085e84;
  border-radius: 4px;
  padding: 4px 8px;
  width: 60px;
  height: 32px;
}
.nav-link:active {
  border: 0.5px solid;
  border-color: #085e84;
  border-radius: 4px;
  padding: 4px 8px;
  width: 60px;
  height: 32px;
  background-color: #e0f3fe;
}
