.header {
  width: 1080px;
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  padding: 8px 48px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: rgb(249, 246, 243);
  margin-bottom: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: black;

  @include media(tablet) {
  }

  @include media(desktop) {
  }
}

.nav-link {
  font-weight: 400;
  letter-spacing: 0.02em;
  @include font(16, 40);
}

.nav-link:hover,
.nav-link:focus {
  color: $_header_accent_color;
}
