.header {
  width: 320px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background-color: #f0faff;
  margin: 0 auto 50px auto;
}
.nav-list {
  display: none;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.logo-header {
  width: 48px;
  height: 33px;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 100px;
  margin-left: 70px;
  background-color: #046fa0;
  border-radius: 16px;
  padding: 24px 16px;
  width: 177px;
  height: 320px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  z-index: 999;
}

.mobile-menu.is-open {
  display: flex;
}

.mob-nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}

.mob-nav-menu-item {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  transition: color 0.3s ease;
}

.mob-nav-menu-item:hover {
  color: #f0faff;
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1080px;
    height: 64px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 8px 48px;
    margin: 0 auto 50px auto;
    background-color: rgb(249, 246, 243);
  }
  .menu-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 auto;
    margin: 0 auto;
    color: black;
    gap: 24px;
  }
  .nav-link {
    padding: 4px;
    margin: 0 auto;
  }
  .nav-link:hover,
  .nav-link:focus {
    outline: 0.5px solid #085e84;
    border-radius: 4px;
    width: 60px;
    height: 32px;
    padding: 0 auto;
  }
  .nav-link:active {
    outline: 0.5px solid #085e84;
    border-radius: 4px;
    width: 60px;
    height: 32px;
    background-color: #e0f3fe;
  }
}
