.hero-sec {
  display: flex;
  flex-direction: column;
  margin-top: 104px;
}

.hero-image {
  width: 598px;
  height: 242px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  max-width: 431px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  background: linear-gradient(180deg, #fff 0%, #e0f3fe 100%);
  background-clip: text;
  margin-left: auto;
  margin-right: auto;
}
