.hero-sec {
  display: flex;
  flex-direction: column;
  margin-top: 104px;
  background-image: url('./img/backgroundparts/bright_p1_mob.png'), url("./img//backgroundparts/wave_transition_p2-mob.png");
  background-position: top, bottom;
  background-size: 320px, 320px;
  background-repeat: no-repeat;
}
/*
.bg-wrap {
  background-color: #2aaddd;
  background: linear-gradient(180deg, #046fa0 0%, #10ace7 100%);
}*/
.hero-image {
  width: 275px;
  height: 111px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-text {
  width: 288px;
  height: 64px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
}
.download {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  gap: 48px;
  justify-content: center;
  align-items: center;
}
.download-wrap {
  background-image: url('./img/backgroundparts/wavep-mob.png');
  background-position: center;
  background-repeat: no-repeat;
}
.descr-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding-top: 104px;
}
.img-download {
  width: 195px;
  height: 56px;
}
.img-appstore {
  width: 150px;
  height: 44px;
}
.flag-blue {
  width: 288px;
  height: 59px;
}

.descr-game {
  width: 288px;
  height: 541px;
}
.descr-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
@media screen and (min-width: 1200px) {
  .hero-sec {
    background-image: url('./img/backgroundparts/bright_p1.png'), url("./img//backgroundparts/wave_transition_p2.png");
    background-position: top, bottom;
    background-size: 100%, 1200px;
    background-repeat: no-repeat;
  }

  .hero-image {
    width: 598px;
    height: 242px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-text {
    width: 431px;
    height: 96px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
  }
  .download {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    gap: 48px;
    justify-content: center;
    align-items: center;
  }
  .download-wrap {
    background-image: url('./img/backgroundparts/wavep1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .img-download {
    width: 346px;
    height: 100px;
  }
  .img-appstore {
    width: 213px;
    height: 63px;
  }
  .descr-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 104px;
    text-align: center;
    padding-bottom: 104px;
    /*
    background-image: url('../img/backgroundparts/wave_transition_p2.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1200px;
    /*opacity: 0;
    transform: translateY(30px);
    filter: blur(10px);
    animation: bannerAppear 0.8s ease forwards;
    */
    /**/
  }
  .flag-blue {
    width: 494px;
    height: 101px;
  }
  .descr-game {
    width: 1080px;
    height: 346px;
  }
  .descr-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }
}
